/* Index,sobre */
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    
}

.navegacao {
    display: flex;
    flex-direction: column;
    background-color: #1166e6d5;
    text-align: center;
    width: 350px;
    align-items: center;
}

.email  {
    color: #ff0000;
}

nav {
    height:100vh;
    
    
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    

}

a:hover {
    background-color: #ffffff;
    border-radius: 15px;
}

li {
    list-style: none;
    margin: 85px;
}

ul {
    padding: 11px;
}

img {
    width: 300px;
    height: 300px;
    margin-top: 174px;
    border-radius: 190px;
    background-color: #ffffff;

}

.sobre,
.conhecimentos,
.objetivos {
    margin-top: 179px;
    margin-left: 80px;
}

h1 {
    font-size: 80px;
    
}

h2 {
    font-size: 20px;
    margin-left: 10px;
}

p {
    font-size: 20px;
    
}

.midias-sociais img {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    margin-left: 60px;
    margin-top: 50px;
}

.midias-sociais img:hover {
    background-color:#ffffff;
    height: 60px;
    border-radius: 50%;
}

/* Conhecimentos */

.conhecimentos li{
    list-style-type: style none;
}

.list-itens {
    margin: 10px;
    font-size: 25px;
   
}
.objetivos ul .obj{
    padding: 5px;
    color: #000000;
   margin: 0;
    font-size: 25px;
}